<script src="js/jquery.min.js"></script>
<script src="js/allPlaylists.js"></script>

<h1>
  All playlists
  <!-- <a class="btn btn-success fa fa-plus" href="/playlist">Create new playlist</a> -->
  <a class="fa fa-plus text-success" href="/playlist"></a>
</h1>


<div class="row">
<%
  for (var i = playlists.length-1; i >= 0; i--) {
  var playlist = playlists[i];
%>
<div class="playlist" data-playlist-id="<%= playlist._id %>">
  <div class="row">
    <h2>
      <%= playlist.title %>
      <a class="fa fa-youtube-play text-success" href="play?id=<%= playlist._id %>"></a>
      <a class="fa fa-pencil text-primary" href="playlist?id=<%= playlist._id %>"></a>
      <a class="fa fa-trash btn-delete text-danger" data-playlist-id="<%= playlist._id %>"></a>
    </h2>

    <span>
      <%
          if (playlist.tags) {
              for (var j = 0; j < playlist.tags.length; j++) {
      %>
                  <%= playlist.tags[j] %>
      <%
              }
          }
      %>
    </span>
  </div>
  <div class="row">

<%
    for (var j = 0; j < playlist.entries.length; j++) {
      video = playlist.entries[j];
%>
    <div class="col-xs-6 col-sm-2"><img src="<%= video.thumbnail%>" class="img-responsive">
      <p class="videoTitle"><%= video.title %></p>
    </div>
<%
      if (j == 4) {
%>
      <i class="fa fa-ellipsis-h fa-4x"></i>
<%
        break;
      }
    }
%>
  </div>
</div>
<%

    }
%>
</div>

